/Code
/Code - OSS
/DotNetBrowser/dotnetbrowser.dmp.dir
/.mozilla/zen/Crash Reports
/JetBrains
/Kingsoft
/Outline
/Postman
/Root Communications/Root/profile/default
/TMetric Desktop
/Throne/config
/Upscayl
/YandexMusic
/abiword
/autostart
/beekeeper-studio/logs
/cava
/com.strapi
/composer
/configstore
/create-next-app-nodejs
/dconf
/dconf/user
/discord
/discordcanary
/fooyin
/go/telemetry/local
/google-chrome
/google-chrome-canary
/lango
/lapce-stable
/libaccounts-glib
/menus/applications-merged
/mpd
/ncmpcpp
/nekoray/config
/nextjs-nodejs
/obsidian/Code Cache
/obsidian/Code Cache
/stoat-desktop
/yandex-browser
/yandex-music
/yarn/global
