* {
  border: none;
  border-radius: 0px;
  /*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
  font-family:
    Roboto,
    JetBrains Mono,
    FontAwesome,
    Iosevka,
    Noto Sans CJK;
  font-size: 14px;
  font-weight: 600;
  min-height: 0;
}

tooltip {
  border-radius: 10px;
  background: #282828;
  color: #f4d9e1;
  font-family: JetBrains Mono;
}

window#waybar {
  background: rgba(30, 30, 46, 0);
  /* border-bottom: 1px solid #282828; */
  color: #f4d9e1;
}

#workspaces {
  background: #282828;
  padding: 7px 10px;
  margin: 5px 5px 0px 5px;
  border-radius: 100px;
  font-weight: 500;
  transition: all 0.3s ease-out;
}

#workspaces button {
  margin: 0 3px;
  padding: 0;
  color: #928374;
  background: none;
  border: none;
  transition: all 0.3s ease-out;
}

#workspaces button.active {
  color: #fabd2d;
}

#workspaces button.urgent * {
  color: #d3869b;
}

#workspaces button:hover,
#workspaces button.visible:hover {
  color: whitesmoke;
  background: #282828;
  border-radius: 100%;
}

#custom-date,
#clock,
#battery,
#pulseaudio,
#network,
#custom-randwall,
#custom-launcher,
#language,
#temperature,
#custom-wireguard-manager,
#custom-hyprpicker,
#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight {
  background: #282828;
  padding: 7px 15px;
  margin: 5px 5px 0px 5px;
  border-radius: 100px;
  border: solid 0px #f4d9e1;
  font-weight: 600;
  color: #f4d9e1;
}

#backlight {
  font-size: 16px;
}

#language {
  font-size: 18px;
}

#battery {
  color: #9ece6a;
}

#custom-date {
  color: #d3869b;
}

#custom-power {
  color: #24283b;
  background-color: #db4b4b;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 5px 10px;
}

#tray {
  background: #282828;
  padding: 7px 14px;
  margin: 5px 5px 0px 5px;
  border-radius: 100px;
  /*border-right: solid 1px #282738;*/
}

#clock {
  /* color: #e6b9c6; */
  /* background-color: #282828; */
  /* border-radius: 24px 0px 0px 24px; */
  /* padding-left: 13px; */
  /* padding-right: 15px; */
  /* margin-right: 0px; */
  /* margin-left: 10px; */
  /* margin-top: 0px; */
  /* margin-bottom: 0px; */
  /* font-weight: bold; */
  /*border-left: solid 1px #282738;*/
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
}

#network {
  color: #f4d9e1;
  margin-right: 5px;
  padding: 7px 15px;
}

#pulseaudio {
  color: #f4d9e1;
  margin-left: 5px;
  background-color: #282828;
}

#pulseaudio.muted {
  background-color: #282828;
  color: #928374;
  margin-left: 5px;
}

#custom-randwall {
  color: #f4d9e1;
  border-radius: 8px;
  margin-right: 0px;
}

#custom-launcher {
  color: #e5809e;
  background-color: #282828;
  margin: 5px 5px 0px 5px;
  border-radius: 100px;
  padding: 7px 24px;
}

#custom-launcher button:hover {
  background-color: #fb4934;
  color: transparent;
  border-radius: 8px;
  margin-right: -5px;
  margin-left: 10px;
}

#custom-playerctl {
  background: #282828;
  padding: 7px 20px;
  border-radius: 100px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

#custom-playerlabel {
  background: #282828;
  padding: 7px 20px;
  border-radius: 100px;
  margin-left: 5px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: bold;
  font-style: normal;
}

#window {
  background: #282828;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: normal;
  font-style: normal;
}

#custom-wf-recorder {
  padding: 0 20px;
  color: #e5809e;
  background-color: #1e1e2e;
}

#cpu {
  color: #fabd2d;
  font-size: 16px;
}

#memory {
  color: #83a598;
  font-size: 16px;
}

#disk {
  color: #8ec07c;
  font-size: 16px;
}

#custom-hyprpicker {
  padding: 7px 12px;
  /*  background-color: #282828;  */
  /*  */
  /*  border-radius: 16px;  */
  /*  margin: 5px;  */
  /*  margin-left: 5px;  */
  /*  margin-right: 5px;  */
  /*  padding: 0px 11px 0px 9px;  */
  /*  font-weight: bold;  */
}
