<md-dialog ng-controller="ccr.controllers.LoginPageCtrl as loginCtrl"
           class="hiddenPreRenderedDialog">
  <h2 class="prerenderedDialogTitle">{{loginCtrl.passwordMaskToolName}}</h2>
  <md-dialog-content>
    <md-input-container>
       <label>{{loginCtrl.passwordFormFieldPlaceholder}}</label>
       <!-- This is a tool for the administrator to generate a mask / masked password to be hosted.
           It is OK for the administrator to see their own password -->
       <input name="password" ng-model="loginCtrl.passwordValueToBeMasked" required>
     </md-input-container>
    <md-input-container>
      <label>Masked password:</label>
      <input name="masked" ng-model="loginCtrl.maskedPassword" readonly>
    </md-input-container>
    <md-input-container>
      <label>Password mask:</label>
      <input name="mask" ng-model="loginCtrl.passwordMask" readonly>
    </md-input-container>
    <md-button id="generateMask" ng-click="loginCtrl.generateMaskedPassword()">
      Generate mask
    </md-button>
  </md-dialog-content>
</md-dialog>
