@use "sass:color";
@use "colors";

.app-launcher {
	min-width: 450px;
	border-radius: 32px;
	padding: 0px;
	background: colors.$surface_transparent;
	min-height: 700px;
}

.app-launcher__input {
	background: none;
	border: none;
	outline: none;
	margin-top: 5px;
	padding: 12px 22px;
	border-radius: 0px;
	border-bottom: 2px solid colors.$inverse_surface_transparent;
	box-shadow: none;

	icon {
		margin-right: 20px;
	}
}

.app-launcher__list {
	margin: 0 10px;
	margin-top: 8px;
	margin-bottom: 10px;
}

.app-launcher__item {
	all: unset;
	transition: all 0.2s ease;
	padding: 12px 18px;
	border-radius: 100px;

	label {
		transition: all 0.2s ease;

		&.title {
			font-weight: 500;
			color: colors.$on_surface;
		}

		&.description {
			color: color.adjust(colors.$on_surface, $alpha: -0.3);
		}
	}

	icon {
		font-size: 32px;
		margin-right: 10px;
	}

	&:hover {
		background: colors.$inverse_surface_transparent;
		.title {
			color: colors.$on_surface;
		}
	}

	&:focus {
		background: colors.$primary;
		.title {
			color: colors.$on_primary;
		}
		.description {
			color: colors.$on_primary;
		}
	}

	&:active {
		background: yellow;
		background-color: color.adjust(colors.$primary, $alpha: -0.2);
		border-radius: 100px;
		box-shadow: inset 0 0 0 1px colors.$primary;

		.title {
			color: colors.$on_primary;
		}
	}
}
