
$background: #0e1415;

$blue: #99ccfa;

$blue_container: #094b72;

$blue_source: #89b4fa;

$blue_value: #89b4fa;

$error: #ffb4ab;

$error_container: #93000a;

$green: #91d5ad;

$green_container: #035233;

$green_source: #a6e3a1;

$green_value: #a6e3a1;

$inverse_on_surface: #2b3132;

$inverse_primary: #006973;

$inverse_surface: #dee3e4;

$on_background: #dee3e4;

$on_blue: #003352;

$on_blue_container: #cde5ff;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_green: #003822;

$on_green_container: #acf2c8;

$on_orange: #492900;

$on_orange_container: #ffdcbd;

$on_primary: #00363c;

$on_primary_container: #9ef0fc;

$on_primary_fixed: #001f23;

$on_primary_fixed_variant: #004f57;

$on_purple: #30285f;

$on_purple_container: #e5deff;

$on_red: #511d3d;

$on_red_container: #ffd8ea;

$on_secondary: #1c3438;

$on_secondary_container: #cde7ec;

$on_secondary_fixed: #051f22;

$on_secondary_fixed_variant: #334b4e;

$on_surface: #dee3e4;

$on_surface_variant: #bfc8ca;

$on_tertiary: #23304d;

$on_tertiary_container: #d9e2ff;

$on_tertiary_fixed: #0d1b37;

$on_tertiary_fixed_variant: #3a4664;

$on_yellow: #373100;

$on_yellow_container: #f1e48a;

$orange: #fcb974;

$orange_container: #693c00;

$orange_source: #fab387;

$orange_value: #fab387;

$outline: #899294;

$outline_variant: #3f484a;

$primary: #81d3df;

$primary_container: #004f57;

$primary_fixed: #9ef0fc;

$primary_fixed_dim: #81d3df;

$purple: #c9bfff;

$purple_container: #473f77;

$purple_source: #cba6f7;

$purple_value: #cba6f7;

$red: #fbb0d8;

$red_container: #6c3455;

$red_source: #f38ba8;

$red_value: #f38ba8;

$scrim: #000000;

$secondary: #b1cbd0;

$secondary_container: #334b4e;

$secondary_fixed: #cde7ec;

$secondary_fixed_dim: #b1cbd0;

$shadow: #000000;

$source_color: #3c4243;

$surface: #0e1415;

$surface_bright: #343a3b;

$surface_container: #1b2122;

$surface_container_high: #252b2c;

$surface_container_highest: #303637;

$surface_container_low: #171d1e;

$surface_container_lowest: #090f10;

$surface_dim: #0e1415;

$surface_tint: #81d3df;

$surface_variant: #3f484a;

$tertiary: #bac6ea;

$tertiary_container: #3a4664;

$tertiary_fixed: #d9e2ff;

$tertiary_fixed_dim: #bac6ea;

$yellow: #d5c871;

$yellow_container: #4f4700;

$yellow_source: #f9e2af;

$yellow_value: #f9e2af;



$theme: 'dark';
$surface_transparent: transparentize($surface, 0.2);
$inverse_surface_transparent: transparentize($inverse_surface, 0.92);
$inverse_surface_transparent_variant: transparentize($inverse_surface, 0.82);
$inverse_surface_transparent_overlay: linear-gradient(0deg, $inverse_surface_transparent, $inverse_surface_transparent);
$inverse_surface_transparent_variant_overlay: linear-gradient(0deg, $inverse_surface_transparent_variant, $inverse_surface_transparent_variant);
