@use "colors";

.material-button {
	border-radius: 24px;
	padding: 8px 22px;
	&:focus {
		box-shadow: 0 0 0 1px colors.$inverse_surface;
	}
	&.filled {
		background: colors.$primary;
		color: colors.$on_primary;
		&:hover,
		&:focus {
			background: colors.$primary, colors.$inverse_surface_transparent_variant_overlay;
		}
		&:active {
			background: colors.$on_primary_container,
				colors.$inverse_surface_transparent_overlay;
		}
	}

	&.outlined {
		background: none;
		color: colors.$on_surface;
		border: 1px solid colors.$outline;
		&:hover,
		&:focus {
			background: colors.$inverse_surface_transparent;
		}
		&:active {
			background: colors.$inverse_surface_transparent_variant;
		}
	}
}
