@use "colors";

.dashboard {
	border-radius: 38px;
	min-width: 420px;
	transition:
		background-color 1s ease-in-out,
		color 1s ease-in-out;
}

.block {
	background: colors.$surface_transparent;
	border-radius: 30px;
	padding: 20px;
	transition:
		background-color 1s ease,
		color 1s ease;
}

.placeholder {
	color: colors.$outline;
	label {
		font-size: 18px;
	}
}

.calendar__header {
	margin-top: 12px;
	padding: 10px;
}

.calendar__monthyear {
	* {
		font-size: 18px;
		font-weight: 500;
	}
}

.calendar__button {
	padding: 10px 12px;
}

.calendar__button__today {
	border-radius: 100px;
	background: colors.$primary;
	color: colors.$on_primary;
}

.calendar__button__other-month {
	color: colors.$outline;
}

.calendar__weekday {
	min-height: 40px;
	min-width: 36px;
	font-weight: 600;
}

.calendar__day {
	border-radius: 100px;
	min-height: 40px;
	min-width: 40px;
	&.active {
		background: colors.$primary;
		color: colors.$on_primary;
	}
	&.inactive {
		color: colors.$inverse_surface_transparent_variant;
	}
}

.todos {
	min-height: 0px;
	padding: 12px 12px 0;

	revealer:last-child {
		.todo {
			margin-bottom: 12px;
		}
	}
}

.todos__combobox {
	* {
		font-size: 18px;
	}
	button {
		margin: 0 10px;
		padding: 12px 0 18px 0;
	}
}

.todos__heading {
	margin-bottom: 8px;
}

.todos__scrollable {
	min-height: 280px;
}

.todo {
	min-height: 48px;
	padding: 0 10px;
	font-weight: 400;
	label {
		font-size: 16px;
	}
}

.todo__check,
.todo__delete {
	font-size: 20px;
	color: colors.$on_surface_variant;
}

.todos__input_box {
	padding: 0 10px;
	icon {
		font-size: 20px;
		color: colors.$primary;
	}
	min-height: 42px;
}

.todos__input {
	padding: 0;
	font-size: 16px;
	background: none;
	font-weight: 500;
	color: colors.$primary;
	caret-color: colors.$primary;
}
